@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
  
  /* Contact section layout with flexbox */
  .contact-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: 45%;
}

.contact-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.contact-container {
    flex-basis: 45%;
    max-width: 800px;
    padding: 20px;
    background-color: #fdf8fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact-container h2 {
    font-size: 28px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
    letter-spacing: 2px;;
}

iframe {
    width: 100%;
    max-width: 100%;
    height: 600px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

